<div class="animated animated-robot js-animate" id="alita-robot">
    <div class="animated-background">&nbsp;</div>
    <svg role="img" aria-hidden="true">
        <use xlink:href="#alita-robot-svg"></use>
    </svg>
</div>