<div id="modal" class="invisible">
    <div id="modal-container">
        <div id="modal-entete">
            <div id="modal-title"></div>
            <div id="modal-action">
                <i class="fa fa-times-circle modal-close"></i>
            </div>
        </div>
        <div id="modal-content"></div>
    </div>
</div>