{#<ul class="navbar-nav bg-gradient-gray sidebar accordion" id="accordionSidebar">#}
{#    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('alita_dashboard') }}">#}
{#        <div class="sidebar-brand-icon">#}
{#            <i class="fa fa-robot"></i>#}
{#        </div>#}
{#        <div class="sidebar-brand-text mx-3">Alita</div>#}
{#    </a>#}
{#    <hr class="sidebar-divider my-0">#}

{#    {{ knp_menu_render('main') }}#}

{#    <hr class="sidebar-divider d-none d-md-block">#}

{#    <div class="text-center d-none d-md-inline">#}
{#        <button class="rounded-circle border-0" id="sidebarToggle"></button>#}
{#    </div>#}
{#</ul>#}

{% block sonata_left_side %}
    <aside class="main-sidebar">
        <section class="sidebar accordion" id="accordionSidebar">
            {% block sonata_side_nav %}
                {{ knp_menu_render('main') }}
                <hr class="sidebar-divider d-none d-md-block">
                {% block side_bar_before_nav %} {% endblock %}
                {% block side_bar_nav %}
                <a href="#" class="sidebar-toggle rounded-circle" data-toggle="offcanvas" role="button">
                </a>
                {% endblock side_bar_nav %}
            {% endblock sonata_side_nav %}
        </section>
    </aside>
{% endblock sonata_left_side %}