{% set route = app.request.attributes.get('_route') %}
<ul class="navbar-nav bg-gradient-gray sidebar accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('alita_dashboard') }}">
        <div class="sidebar-brand-icon">
            <i class="fa fa-robot"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Alita</div>
    </a>
    <hr class="sidebar-divider my-0">

    {#% include 'Alita/Blocks/layout/navbar-system.html.twig' %#}

    <hr class="sidebar-divider d-none d-md-block">

    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>