.dropdown {
  .dropdown-menu {
    font-size: $dropdown-font-size;
    .dropdown-header {
      @extend .text-uppercase;
      font-weight: 800;
      font-size: 0.65rem;
      color: $gray-500;
    }
  }
  &.no-arrow{
    .dropdown-toggle::after {
      display: none;
    }
  }
  .dropdown-item{
    svg {
      color: $dropdown-svg-color;
      fill: $dropdown-svg-fill;
    }
  }
}