$theme-colors: map-merge(
    (
        "login":    $login,
        "gray":     $gray-400,
        "register": $teal
    ),
    $theme-colors
);

@mixin transform($x, $y : 0) {
    -webkit-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    -o-transform: translate($x, $y);
    transform: translate($x, $y);
}