.robotpage {
    &-top-half {
        background-color: $body-color;
        overflow: hidden;

        #brokebotSVG {
            height: 259px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 111px;
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            width: 100%;

            #errorCodeTxt {
                color: darken($gray-200, 2%);
                fill: darken($gray-200, 2%);
                font-size: 322px;
            }
            .robot_limbs_and_ears{
                fill:#503643;
            }

            .robot_joints_and_belly{
                fill:#8BCA9B;
            }

            .robot_body{
                fill:#56BF9B;
            }

            .robot_eye_whites{
                fill:#F3ECBA;
            }

            .robot_hands_feet{
                fill:#E64661;
            }

            .robot_antenna{
                fill:#E64661;
            }

            .robot_antenna_highlight{
                fill:#F2748D;
            }

            .robot_eyes{
                fill:#E64661;
            }

            .robot_eyes_highlight{
                fill:#F2748D;
            }
        }

    }
    &-bottom-half {
        #robot-text{
            color:$gray-800;
            text-align:center;
            font-size:3em;
            margin-top:.5em;
            margin-bottom:.2em;
            padding:0;
        }
        .robot-buttons{
             margin-left:auto;
             margin-right:auto;
            a.robot-button {
                font-size: 1em;
                background-color: $blue;
                padding: .5em 1.5em;
                margin: .5em .2em 0em .2em;
                text-align: center;
                border-radius: .3em;
                text-decoration: none;
                color: $white;
                &:hover  {
                    cursor: pointer;
                    background-color: $error-hover;
                    color: $white;
                }
            }
        }
    }
}