{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% block content_header_wrapper %}
    {% set has_help_message = (ea.crud.helpMessage ?? '') is not empty %}
    <section class="content-header">
        {% block content_header %}
            <div class="d-flex flex-row justify-content-between align-content-center w-100">
                <div class="content-header-title">
                    <h1 class="title">
                        {% block content_title %}{% endblock %}

                        {% block content_help %}
                            {% if has_help_message %}
                                <span class="content-header-help">
                                    <i class="far fa-question-circle" data-toggle="tooltip" title="{{ ea.crud.helpMessage|e('html_attr') }}"></i>
                                </span>
                            {% endif %}
                        {% endblock %}
                    </h1>
                </div>

                {% block page_actions_wrapper %}
                    <div class="page-actions">{% block page_actions %}zaeazea{% endblock %}</div>
                {% endblock %}
            </div>
        {% endblock content_header %}
    </section>
{% endblock content_header_wrapper %}