{% trans_default_domain 'alita' %}
{% if app.session is not null and app.session.started %}
    {% set flash_messages = app.session.flashbag.all %}

    {% if flash_messages|length > 0 %}
        {% for label, messages in flash_messages %}
            {% for message in messages %}
                <span class="invisible js-alert" data-type="{{ label }}" data-title="{{ ('alita._flash.'~label)|trans }}"
                  data-message="{{ message }}"></span>
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endif %}
