{% trans_default_domain 'alita' %}
{% for label,messages in app.flashes() %}
    {% for message in messages %}
        <span class="invisible js-alert" data-type="{{ label }}" data-message="{{ message }}"
              data-title="{{ ('alita._flash.'~label)|trans }}"></span>
    {% endfor %}
{% endfor %}