<div id="modal-filters" class="modal fade js-filters-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-sm btn-secondary" id="modal-clear-button" formtarget="_self">
                    <i class="fas fa-times"></i> {{ 'filter.button.clear'|trans(domain = 'EasyAdminBundle') }}
                </button>
                <h5 class="modal-title">
                    <i class="fa fa-filter fa-fw"></i> {{ 'filter.title'|trans(domain = 'EasyAdminBundle') }}
                </h5>
                <button type="button" class="btn btn-sm btn-primary" id="modal-apply-button" formtarget="_self">
                    <i class="fa fa-check"></i> {{ 'filter.button.apply'|trans(domain = 'EasyAdminBundle') }}
                </button>
            </div>
            <div class="modal-body p-0">
            </div>
        </div>
    </div>
</div>
