<div class="form-group row-inner-password js-password-utils border-primary border text-black rounded p-4">
    <p>
        Votre mot de passe doit contenir :
        <ul>
            <li class="min-max">Entre {{ formPasswordMinChar }} et {{ formPasswordMaxChar }} caractères</li>
            <li class="uppercase">Une majuscule</li>
            <li class="lowercase">Une minuscule</li>
            <li class="digits">Des chiffres</li>
            <li class="spaces">aucun espace</li>
            <li class="symbols">L'un des caracères suivant : ` ~ ! @ # $ % ^ & * ( ) - _ = + [ { } ] \ | ; : ' " , < . > / ? € £ ¥ ₹</li>
        </ul>
    </p>
</div>