{% trans_default_domain 'mail' %}
{% extends 'Layout/email.html.twig' %}

{% block title %}{{ 'mail.subject.forgotpassword'|trans()}}{% endblock %}

{% block content_email %}
    <div class="row d-block">
        <p>Bonjour,</p>
        <p>
            Vous avez effectué une demande de ré-initialisation de mot de passe. Cette demande est valable pendant une
            durée de deux heures. Une fois ce délai passé, vous devrez refaire une demande. <br>
            <a href="{{link}}" class="btn btn-outline-primary">Ré-initialiser mon mot de passe</a>
        </p>
        <p>
            Si le bouton ne fonctionne pas, merci de copier-coller le lien ci-dessous dans votre navigateur :
            <i>{{link}}</i>
        </p>
        <p class="font-weight-bold">
            Attention, si vous nêtes pas à l'origine de cette demande, ne tenez pas compte de cet e-mail.
            {% if ip is defined %}
                Pour information, cette demande a été effectuée à partir de l'adresse IP suivante : {{ip}}.
            {% endif %}
        </p>
    </div>
{% endblock %}